
nav.top-bar,
.top-bar,
.top-bar-right {
  background-color: white;
  margin: 0;
}

.title {
  margin-left: 2rem;
  margin-right: 0rem;
}

.site-name {
  font-family: 'Megrim', cursive;
  color: #DE6262;
  font-size: 2rem;
}

.site-name:hover,
.site-name:focus {
  color: #eeb0b0;
}

.right,
.sign-in,
.sign-in-info {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.text {
  font-family: 'Open Sans', sans-serif;
  color: gray;
}

.div {
  margin: 5rem;
}

.new-brew-form {
  margin: 5rem;

}

.button.custom {
  background-color: #B7CBBF;
  margin: 1rem;
  border-radius: 2px;
}

.button.custom:hover,
.button.custom:focus {
  background-color: #8bab98
}

.start-cancel-buttons {
  margin: auto;
}
