nav.top-bar {
  background: none;
  margin: 0;
}

.top-bar .title-area {
  background: none;
  margin-left: 2rem;
  margin-right: 0rem;
}

.title {
  margin-left: 2rem;
  font-family: 'Megrim', cursive;
  color: #DE6262;
  font-size: 2rem;
}

.site-name:hover,
.site-name:focus {
  color: #eeb0b0;
}

.right,
.sign-in,
.sign-in-info {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

div.large-12.columns,
.measure {
  background-color: rgba(255,255,255,0.6);
  font-family: 'Open Sans', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.new-brew-form {
  margin: 5rem;
}

.button.custom {
  background-color: #B7CBBF;
  margin: 1rem;
  border-radius: 2px;
}

.button.custom:hover,
.button.custom:focus {
  background-color: #8bab98
}

.start-cancel-buttons {
  margin: auto;
}

.coffee-container {
  margin: 40px auto;
  padding: 40px;
  background: linear-gradient(white, #eaeeee)
}

.ratio-helper {
  background-color: none; }

.timer-component {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  color: #878787;
}

.timer-button {
  margin: 40px auto;
  padding: 40px;
}

.water,
.yeild {
  margin-bottom: 1rem;
}
