// TOP-BAR STYLE

nav.top-bar {
  background: none;
}

#title {
  margin-left: 2rem;
  font-family: 'Megrim', cursive;
  color: #DE6262;
  font-size: 2.2em;
}

#title:hover,
#title:focus {
  color: #eeb0b0;
}

.top-bar a {
  background: white;
  color: #DE6262;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.top-bar a:hover,
.top-bar a:focus {
  color: #eeb0b0;
}

#hello-user {
  color: #878787;
  margin-right: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

@media screen and (min-width: 200px) {
  #hello-user {

  }
}

// NEW COFFEE FORM

.coffee-form-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.tag-line {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: 'Codystar', cursive;
  font-size: 2em;
  color: #878787;
}

.form-tagline {
  font-family: 'Codystar', cursive;
  font-size: 2em;
  color: #878787;
  margin-bottom: 0;
  text-align: center;
}

#input-field {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.large-12.columns {
  margin: 40px auto;
  padding: 40px;
  background: linear-gradient(#fff7f7, #eaecee);
}

.large-6.columns h6 {
  font-family: 'Codystar', cursive;
  font-weight: bold;
}

.large-6.columns {
  margin-top: 5px;
  margin-bottom: 5px; font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #6e6e6e;
}

.medium-12.columns {
  background-color: rgba(255,255,255,.9);
  -webkit-box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  -moz-box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.medium-12.columns label {
  font-family: 'Codystar', cursive;
  font-weight: bold;
}

.medium-12.columns p {
  margin-bottom: 5px; font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #6e6e6e;
}

.small-12.columns body{

}

.small-12.columns {
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  font-weight: 200;
  color: #878787;
  margin-top: 1em
}

.button.custom {
  background-color: #B7CBBF;
  margin: 1rem;
  border-radius: 2px;
}

.button.custom:hover,
.button.custom:focus {
  background-color: #8bab98
}

.button.custom a {
  color: white;
}

.start-cancel-buttons {
  margin: auto;
}

.timer-button {
  margin: 40px auto;
  padding: 40px;
}

#text-area {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #878787;
}

// TILES & SHOWPAGE
.all-formula-tiles {
  margin-bottom: 20px;
}

.coffee-formula-tile {
  background: linear-gradient(#f3f3f5, #ecedef);
  -webkit-box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  -moz-box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
}

.coffee-formula-tile:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: .5s;
}

.coffee-formula-tile h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #878787;
}

.coffee-formula-tile p:hover {
  font-family: 'Codystar', cursive;
  font-weight: bold;
  color: #DE6262;
}

.coffee-formula-tile p {
  background-color: rgba(255,255,255,.9);
  -webkit-box-shadow: 1px 4px 6px 0px rgba(192,192,192,.2);
  -moz-box-shadow: 1px 4px 6px 0px rgba(192,192,192,.2);
  box-shadow: 1px 4px 6px 0px rgba(192,192,192,.2);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-family: 'Codystar', cursive;
  font-weight: bold;
  color: #878787;
}

.show-page {
  margin-top: 15px;
}

.formula-show-page {
  background: linear-gradient(#f3f3f5, #ecedef);
  -webkit-box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  -moz-box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  box-shadow: 1px 4px 8px 0px rgba(192,192,192,.2);
  margin: 10px;
  padding: 15px;
}

.formula-show-page p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #878787;
}

.formula-show-page h6 {
  font-family: 'Codystar', cursive;
  font-weight: bold;
}

.inner-tile {
  background-color: rgba(255,255,255,.9);
  -webkit-box-shadow: 1px 4px 6px 0px rgba(192,192,192,.2);
  -moz-box-shadow: 1px 4px 6px 0px rgba(192,192,192,.2);
  box-shadow: 1px 4px 6px 0px rgba(192,192,192,.2);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #878787;
}

.inner-tile h6 {
  font-family: 'Codystar', cursive;
  font-weight: bold;
}

#footer {
	height: 50px;
	position: relative;
	bottom: 0px;
	left: 0px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}

#footer a {
  color:#efbdbd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

#footer a:hover,
#footer a:focus {
  color: #DE6262;
}
